{% extends "parts/template.html" %} {% block meta %}
<title>Cabinet Orthodontie Montauban</title>
<meta
  content="Bienvenue sur le site du cabinet d'orthodontie de Montauban des Docteur Milheau Prieur et Magallo,
  spécialistes qualifiés en Orthopédie Dento-Faciale.
  Toute l'équipe du cabinet est heureuse de vous accueillir sur son site destiné à vous communiquer les meilleures informations sur les traitements d'orthodontie
  Notre pratique étant basée sur notre expérience et notre formationcontinue, nous vous faisons ainsi bénéficier des techniques les plus innovantes et les plus efficaces"
  name="description"
/>
<meta
  content="Cabinet Orthodontie Montauban - orthodontiste Montauban - Orthodontie Montauban - orthodontie Montauban - traitements gouttières Montauban"
  name="keywords"
/>
{% endblock %} {% block main %} {% include "sections/hero.html" %}

<main id="main">
  {% include "sections/doctors-section.html" %} {% include
  "sections/about-section.html" %} {% include "sections/gallery-section.html" %}
  {% include "sections/orthodontie.html" %} {% include "sections/parcours.html"
  %} {% include "sections/traitements.html" %} {% include
  "sections/invisal-section.html" %} {% include "sections/contact-section.html"
  %} {% include "sections/cta-section.html" %}
</main>
<!-- End #main -->

{% endblock %}
