{% extends "parts/template.html" %} {% block meta %}
<title>Cabinet Orthodontie Montauban</title>
<meta content="" name="description" />
<meta content="" name="keywords" />
{% endblock %} {% block main %} {% include "sections/hero.html" %}

<main id="main">
  {% include "sections/doctors-section.html" %} {% include
  "sections/about-section.html" %} {% include "sections/orthodontie.html" %} {%
  include "sections/featured-services-section.html" %} {% include
  "sections/contact-section.html" %} {% include "sections/cta-section.html" %}
</main>
<!-- End #main -->

{% endblock %}
