/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #173444;
  margin: 0;
  padding: 0;
}

a {
  color: #5a725c;
  text-decoration: none;
}

a:hover {
  color: #718f73;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #5a725c;
}

#preloader-box .svg-box {
  position: inherit;
  width: 100%;
  height: 100%;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#preloader-box .svg-box svg {
  width: 60vmin;
  height: 60vmin;
  /* set some maximum size (width and height need to match
       * aspect ratio, 1:1 in this case */
  max-width: 500px;
  max-height: 500px;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #beac6c;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6c896e;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}

@media (max-width: 992px) {
  #header {
    padding: 15px 0;
  }
}

#header .logo {
  margin: 0 20px;
}

@media (max-width: 1145px) {
  #header .logo {
    max-width: 102px;
    max-height: 105px;
    margin-left: 5px;
  }
}

@media (max-width: 992px) {
  #header .logo {
    display: none;
  }
}

#header.header-scrolled {
  top: 0;
  background: #5a725c;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px 10px 15px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #c6b67e;
  white-space: nowrap;
  transition: 0.3s;
  text-transform: uppercase;
}

.navbar a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #c6b67e;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbar a:hover:after {
  width: 100%;
  left: 0;
}

@media (max-width: 1265px) {
  .navbar a {
    font-size: 18px;
  }
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  text-transform: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #5a725c;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #beac6c;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(171, 150, 76, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 8px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #beac6c;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #5a725c;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #5a725c;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
  background-image: url("assets/img/photos/facade_cabinet.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  overflow: hidden;
}

.hero__video {
  width: 100%;
  aspect-ratio: 16/9;
}

@media only screen and (max-width: 480px) {
  .hero {
    height: 100vh;
    background: url("/assets/img/LOGOS/figma/hero-mobile.svg") no-repeat center center;
    background-size: cover;
  }
  .hero__video {
    display: none;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
    margin: 0;
  }
  .hero__video {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 769px) {
  .hero {
    background-image: unset;
  }
  .hero__video {
    display: block;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #dde4dd;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #beac6c;
  bottom: 4px;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
}

.section-title h5 {
  margin-bottom: 0;
  color: #173444;
}

/*--------------------------------------------------------------
# Parcours de soins
--------------------------------------------------------------*/
#parcours {
  background-color: #dde4dd;
}

#parcours .parcours__wrapper {
  padding: 80px 0;
}

#parcours .parcours__single {
  display: flex;
  flex-direction: column;
  width: 19%;
  position: relative;
}

#parcours .parcours__single svg {
  margin: 0 auto;
}

#parcours .parcours__single:hover circle {
  fill: #beac6c;
}

#parcours .parcours__single:hover path {
  fill: #fff;
  stroke: transparent;
}

#parcours .parcours__single:hover .parcours__single--title {
  color: #beac6c;
}

#parcours .parcours__single--title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  display: block;
  padding: 20px 0;
}

#parcours .parcours__single p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
  color: #163140;
  text-align: center;
}

#parcours .parcours__content {
  display: flex;
  justify-content: space-between;
}

#parcours .parcours__single:after {
  content: '';
  background: #fff;
  height: 2px;
  position: absolute;
  left: 75%;
  top: 18%;
  right: -32%;
}

#parcours .parcours__single:last-of-type:after {
  display: none;
}

@media screen and (min-width: 1441px) and (max-width: 1570px) {
  #parcours .parcours__wrapper {
    padding: 0 30px 80px 30px;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1025px) {
  #parcours .parcours__wrapper {
    background-size: cover;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  #parcours .parcours__wrapper {
    background-size: cover;
  }
}

@media screen and (max-width: 767px) {
  #parcours .parcours__wrapper {
    padding: 30px 20px;
    background: none;
  }
  #parcours .parcours__single svg {
    width: 100%;
    max-width: 75px;
  }
  #parcours .parcours__single--desc {
    width: 90%;
    text-align: left;
    padding-left: 25px;
  }
  #parcours .parcours__single--desc p,
  #parcours .parcours__single--desc span {
    text-align: left;
  }
  #parcours .section__title {
    font-size: 24px;
  }
  #parcours .parcours__content {
    flex-direction: column;
  }
  #parcours .parcours__single {
    width: 100%;
    padding: 10px 0;
    flex-direction: row;
    align-items: center;
  }
  #parcours .parcours__single--title {
    padding: 10px 0;
  }
  #parcours .parcours__single:after {
    display: none;
  }
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background: #5a725c;
  color: #fff;
  background-size: cover;
  padding: 60px 0;
}

.cta h3 {
  font-size: 28px;
  font-weight: 200;
}

.cta .cta-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 35px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #fff;
  color: #fff;
}

.cta .cta-btn:hover {
  background: #fff;
  color: #5a725c;
}

.cta .flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta .app-btn {
  width: 45%;
  max-width: 160px;
  color: #fff;
  margin: 20px 10px;
  text-align: left;
  border-radius: 5px;
  text-decoration: none;
  font-family: 'Lucida Grande', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
}

.cta .app-btn.blu {
  background-color: #101010;
  transition: background-color 0.25s linear;
}

.cta .app-btn.blu:hover {
  background-color: #454545;
}

.cta .app-btn i {
  width: 20%;
  text-align: center;
  font-size: 28px;
  margin-right: 7px;
}

.cta .app-btn p {
  position: relative;
  top: 6px;
}

.cta .app-btn .big-txt {
  font-size: 17px;
  text-transform: capitalize;
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about {
  margin: 2em 0;
}

.about .content {
  padding-top: 1em;
}

.about .content h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 26px;
}

.about .content .main-text {
  margin: 3em 1.2em;
}

.about .content .main-text:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 986px) {
  .about .content {
    padding-top: 0;
  }
  .about .content .main-text {
    padding: 0 0 4em 0;
  }
}

.about .content .inner-column {
  position: relative;
  padding: 40px 40px 0px 0px;
}

.about .content .inner-column:after {
  position: absolute;
  content: '';
  right: 0px;
  top: 0px;
  left: 40px;
  bottom: 100px;
  z-index: -1;
  border: 2px solid #beac6c;
}

.about .content .inner-column:after .image {
  position: relative;
}

.about .content .inner-column:after .image:before {
  position: absolute;
  content: '';
  left: -50px;
  bottom: -50px;
  width: 299px;
  height: 299px;
}

.about .content .inner-column:after .image:before img {
  position: relative;
  width: 100%;
  display: block;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding-bottom: 30px;
}

.counts .count-box {
  box-shadow: -10px -5px 40px 0 rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
}

.counts .count-box i {
  display: block;
  font-size: 30px;
  color: #5a725c;
  float: left;
}

.counts .count-box span {
  font-size: 42px;
  line-height: 24px;
  display: block;
  font-weight: 700;
  color: #beac6c;
  margin-left: 50px;
}

.counts .count-box p {
  padding: 30px 0 0 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.counts .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #d5caa1;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  transition: ease-in-out 0.3s;
}

.counts .count-box a:hover {
  color: #5a725c;
}

/*--------------------------------------------------------------
# traitements
--------------------------------------------------------------*/
.traitements .traitement__wrapper {
  justify-content: space-between;
  display: flex;
}

.traitements .traitement__desc {
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: relative;
}

.traitements .traitement__single {
  width: 31%;
  overflow: hidden;
}

.traitements .traitement__single:nth-of-type(2) video {
  transform: scale(1.4);
}

.traitements .traitement__single img {
  width: 100%;
  height: 315px;
}

.traitements .traitement__desc--title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  color: #173444;
  padding: 20px 0;
}

.traitements .traitement__desc p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: normal;
  text-align: left;
  color: #173444;
  padding: 0 50px;
  transition: all 0.3s linear;
}

.traitements .traitement__single:hover .traitement__desc {
  background: #beac6c;
}

.traitements .traitement__single:hover .traitement__desc--subtitle {
  background: #beac6c;
  color: #beac6c;
}

.traitements .traitement__single:hover .traitement__desc p {
  color: #fff;
}

.traitements .traitement__single:hover .traitement__desc--title {
  color: #fff;
}

.traitements .traitement__single:hover .traitement__desc:before {
  background: #beac6c;
}

.traitements .traitement__info {
  min-height: 290px;
}

.traitements .first__traitement {
  margin-bottom: 23px;
}

.traitements .traitement__single video {
  max-height: 315px;
  display: block;
}

.traitements .traitement__single--video {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1440px) and (min-width: 1026px) {
  .traitements .traitement__desc p {
    padding: 0 20px;
  }
  .traitements .traitement__desc--title {
    padding: 20px;
  }
  .traitements .traitement__single img {
    width: 100%;
    background: #f5f5f3;
    height: 315px;
  }
  .traitements .traitement__single--video {
    display: flex;
    justify-content: center;
    height: 315px;
    overflow: hidden;
  }
  .traitements .traitement__desc--title {
    min-height: 90px;
  }
  .traitements .traitement__info {
    min-height: 370px;
  }
  .traitements .first__traitement {
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 1200px) and (min-width: 1025px) {
  .traitements .traitement__desc p {
    padding: 0 20px;
  }
  .traitements .traitement__desc--title {
    padding: 20px;
  }
  .traitements .traitement__single video {
    display: block;
    width: 100%;
    height: 315px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .traitements .traitement__desc--title {
    min-height: 90px;
  }
  .traitements .traitement__info {
    min-height: 370px;
  }
  .traitements .first__traitement {
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .traitements #traitement {
    padding: 30px 0;
  }
  .traitements .traitement__wrapper {
    flex-direction: column;
  }
  .traitements .traitement__single {
    width: 100%;
    background: #fff;
  }
  .traitements .traitement__desc--title {
    padding: 10px 0;
  }
  .traitements .traitement__desc p {
    padding: 0 30px;
    font-size: 16px;
  }
  .traitements .traitement__info {
    min-height: auto;
  }
  .traitements .first__traitement {
    margin-bottom: 0 !important;
  }
  .traitements .traitement__single img {
    margin: 0 auto;
    display: block;
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  .traitements #traitement {
    padding: 0;
  }
  .traitements .traitement__wrapper {
    flex-direction: column;
  }
  .traitements .traitement__single {
    width: 100%;
    padding: 20px;
  }
  .traitements .traitement__single:nth-of-type(2) video {
    transform: none;
  }
  .traitements .traitement__desc--title {
    padding: 10px 0;
  }
  .traitements .traitement__desc p {
    padding: 0 20px;
    font-size: 16px;
  }
  .traitements .traitement__info {
    min-height: auto;
  }
  .traitements .first__traitement {
    margin-bottom: 0 !important;
  }
  .traitements .traitement__single--video {
    overflow: hidden;
  }
  .traitements .traitement__single video {
    width: auto;
    transform: none;
    height: auto;
  }
}

/*--------------------------------------------------------------
# Orthodontie
--------------------------------------------------------------*/
.orthodontie {
  background-color: white;
  /* slider*/
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.orthodontie .container-fluid {
  height: 100vh;
}

.orthodontie .row {
  height: 100%;
}

.orthodontie .left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}

.orthodontie .right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  height: 100%;
}

.orthodontie .section-title {
  margin: 30px 0 0 0;
}

.orthodontie .main-text {
  font-size: 18px;
}

@media (max-width: 1200px) {
  .orthodontie .container-fluid {
    min-height: 100vh;
  }
  .orthodontie .left {
    height: 50%;
  }
  .orthodontie .right {
    height: 50%;
  }
}

/*--------------------------------------------------------------
# Doctors
--------------------------------------------------------------*/
.doctors .dentist {
  justify-content: space-around;
}

.doctors .card {
  border-radius: unset;
}

.doctors .card-img-top {
  width: 100%;
  height: 30vw;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: unset;
}

.doctors .member {
  justify-content: center;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(90, 114, 92, 0.1);
}

.doctors .member .social {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  background: rgba(255, 255, 255, 0.85);
  display: none;
}

.doctors .member .social ul {
  list-style: none;
  position: relative;
  top: 20%;
  letter-spacing: 0.25px;
  font-size: medium;
  display: flex;
  flex-direction: column;
  display: none;
}

.doctors .member .social li {
  transition: color 0.3s;
  color: #173444;
  display: none;
}

.doctors .member .member-info {
  height: 30px;
}

.doctors .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 14px;
  color: #beac6c;
}

.doctors .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 600;
  color: #24516a;
}

.doctors .member .member-info p {
  font-style: italic;
  font-size: 14px;
  color: #316e90;
}

.doctors .member:hover .social {
  opacity: 1;
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery {
  background-color: #173444;
  padding: 15px 6px;
  /* Create four equal columns that sits next to each other */
  /* Responsive layout - makes a two column-layout instead of four columns */
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
}

.gallery .row {
  display: flex;
  flex-wrap: wrap;
}

.gallery .second__row {
  margin-top: 8px;
}

.gallery .column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.gallery .column .img-zoom-in {
  max-width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery .column .img-zoom-in img {
  vertical-align: middle;
  width: 100%;
  transition: transform 2s, filter 1.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(70%);
}

.gallery .column .img-zoom-in img:hover {
  filter: brightness(100%);
  transform: scale(1.3);
}

@media screen and (max-width: 800px) {
  .gallery .column {
    display: flex;
    flex: 50%;
    max-width: 50%;
    justify-content: center;
  }
  .gallery .column .img-zoom-in {
    max-width: 90%;
    height: 90%;
  }
}

@media screen and (max-width: 700px) {
  .gallery .column {
    display: flex;
    flex: 100%;
    justify-content: center;
    max-width: 100%;
  }
  .gallery .column .img-zoom-in {
    max-width: 85%;
    height: 85%;
  }
}

/*--------------------------------------------------------------
# Frequently Asked Questioins
--------------------------------------------------------------*/
/*--------------------------------------------------------------


.faq {
  padding: 60px 0;

  .faq-list {
    padding: 0;
    list-style: none;

    li {
      border-bottom: 1px solid lighten($primary, 40);
      margin-bottom: 20px;
      padding-bottom: 20px;
    }

    .question {
      display: block;
      position: relative;
      font-family: $primary;
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      padding-left: 25px;
      cursor: pointer;
      color: darken($primary, 10);
      transition: 0.3s;
    }

    i {
      font-size: 16px;
      position: absolute;
      left: 0;
      top: -2px;
    }

    p {
      margin-bottom: 0;
      padding: 10px 0 0 25px;
    }

    .icon-show {
      display: none;
    }

    .collapsed {
      color: black;
      &:hover {
        color: $primary;
      }

      .icon-show {
        display: inline-block;
        transition: 0.6s;
      }

      .icon-close {
        display: none;
        transition: 0.6s;
      }
    }
  }
}
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  color: #173444;
  text-align: center;
  box-shadow: 0 0 20px rgba(214, 215, 216, 0.5);
  padding: 20px 0 30px 0;
}

.contact .info-box i {
  font-size: 32px;
  color: #5a725c;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #b8c7b9;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #316e90;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  box-shadow: 0 0 20px rgba(214, 215, 216, 0.5);
  padding: 30px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: '';
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #5a725c;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type='submit'] {
  background: #5a725c;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type='submit']:hover {
  background: #718f73;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #4f6451;
  padding: 0 0 30px 0;
  color: #beac6c;
  font-size: 14px;
}

#footer .footer-top {
  background: white;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #5a725c;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #718f73;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #5a725c;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #beac6c;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #5a725c;
}

#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border: 1px solid white;
  border-radius: 4px;
}

#footer .footer-top .footer-newsletter form input[type='email'] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type='submit'] {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #5a725c;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}

#footer .footer-top .footer-newsletter form input[type='submit']:hover {
  background: #718f73;
}

#footer .copyright {
  color: #fff;
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
}
