/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
$animate: all 0.2s ease-in-out;

#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  @media (max-width: 992px) {
    padding: 15px 0;
  }

  .logo {
    margin: 0 20px;
    @media (max-width: 1145px) {
      max-width: 102px;
      max-height: 105px;
      margin-left: 5px;
    }
    @media (max-width: 992px) {
      display: none;
    }
  }

  &.header-scrolled {
    top: 0;
    background: #5a725c;
  }
}
