/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
// Hero container
.hero {
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
  background-image: url('assets/img/photos/facade_cabinet.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  overflow: hidden;
}

.hero__video {
  width: 100%;
  aspect-ratio: 16/9;
}

// Hide or show custom poster background on mobile devices with media queries
@media only screen and (max-width: 480px) {
  // mobile styles go here
  .hero {
    height: 100vh;
    background-image: url('/assets/img/LOGOS/figma/hero-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero__video {
    display: none;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  // tablet styles go here
  .hero {
    height: 100vh;
    background-image: url('/assets/img/LOGOS/figma/hero-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero__video {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 769px) {
  // desktop styles go here
  .hero {
    // Remove background image
    background-image: unset;
  }
  .hero__video {
    // Show video
    display: block;
  }
}
