/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: lighten($primary, 48);
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
  h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }

  h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: $secondary;
    bottom: 4px;
    left: calc(50% - 25px);
  }

  p {
    margin-bottom: 0;
  }
  h5 {
    margin-bottom: 0;
    color: $default;
  }
}

/*--------------------------------------------------------------
# Parcours de soins
--------------------------------------------------------------*/
#parcours {
  background-color: lighten($primary, 48);

  .parcours__wrapper {
    padding: 80px 0;
  }

  .parcours__single {
    display: flex;
    flex-direction: column;
    width: 19%;
    position: relative;

    svg {
      margin: 0 auto;
    }
  }

  .parcours__single:hover {
    circle {
      fill: $secondary;
    }

    path {
      fill: #fff;
      stroke: transparent;
    }

    .parcours__single--title {
      color: $secondary;
    }
  }

  .parcours__single--title {
    font-family: $font-primary;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    display: block;
    padding: 20px 0;
  }

  .parcours__single p {
    font-family: $font-tertary;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
    color: darken($default, 1);
    text-align: center;
  }

  .parcours__content {
    display: flex;
    justify-content: space-between;
  }

  .parcours__single:after {
    content: '';
    background: #fff;
    height: 2px;
    position: absolute;
    left: 75%;
    top: 18%;
    right: -32%;
  }
  .parcours__single:last-of-type:after {
    display: none;
  }

  @media screen and (min-width: 1441px) and (max-width: 1570px) {
    .parcours__wrapper {
      padding: 0 30px 80px 30px;
    }
  }

  @media screen and (max-width: 1440px) and (min-width: 1025px) {
    .parcours__wrapper {
      background-size: cover;
    }
  }

  @media screen and (max-width: 1024px) and (min-width: 768px) {
    .parcours__wrapper {
      background-size: cover;
    }
  }

  @media screen and (max-width: 767px) {
    .parcours__wrapper {
      padding: 30px 20px;
      background: none;
    }

    .parcours__single svg {
      width: 100%;
      max-width: 75px;
    }
    .parcours__single--desc {
      width: 90%;
      text-align: left;
      padding-left: 25px;
    }
    .parcours__single--desc p,
    .parcours__single--desc span {
      text-align: left;
    }
    .section__title {
      font-size: 24px;
    }
    .parcours__content {
      flex-direction: column;
    }
    .parcours__single {
      width: 100%;
      padding: 10px 0;
      flex-direction: row;
      align-items: center;
    }
    .parcours__single--title {
      padding: 10px 0;
    }
    .parcours__single:after {
      display: none;
    }
  }
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background: $primary;
  color: #fff;
  background-size: cover;
  padding: 60px 0;

  h3 {
    font-size: 28px;
    font-weight: 200;
  }

  .cta-btn {
    font-family: $font-primary;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 35px;
    border-radius: 25px;
    transition: 0.5s;
    margin-top: 10px;
    border: 2px solid #fff;
    color: #fff;
    &:hover {
      background: $white;
      color: $primary;
    }
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .app {
    &-btn {
      width: 45%;
      max-width: 160px;
      color: #fff;
      margin: 20px 10px;
      text-align: left;
      border-radius: 5px;
      text-decoration: none;
      font-family: 'Lucida Grande', sans-serif;
      font-size: 10px;
      text-transform: uppercase;
      &.blu {
        background-color: #101010;
        transition: background-color 0.25s linear;
        &:hover {
          background-color: #454545;
        }
      }
      i {
        width: 20%;
        text-align: center;
        font-size: 28px;
        margin-right: 7px;
      }
      p {
        position: relative;
        top: 6px;
      }
      .big-txt {
        font-size: 17px;
        text-transform: capitalize;
      }
    }
  }
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about {
  margin: 1.5em 0;

  .content {
    padding-top: 1em;

    h3 {
      display: flex;
      justify-content: center;
      text-align: center;
      font-weight: 600;
      font-size: 26px;
    }

    ul {
      list-style: none;
      padding: 0;
      li {
        padding-bottom: 10px;
      }
      i {
        font-size: 20px;
        padding-right: 4px;
        color: $primary;
      }
    }
    p {
      margin: 3em 0;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding-bottom: 30px;

  .count-box {
    box-shadow: -10px -5px 40px 0 rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;

    i {
      display: block;
      font-size: 30px;
      color: $primary;
      float: left;
    }

    span {
      font-size: 42px;
      line-height: 24px;
      display: block;
      font-weight: 700;
      color: $secondary;
      margin-left: 50px;
    }

    p {
      padding: 30px 0 0 0;
      margin: 0;
      font-family: $font-primary;
      font-size: 14px;
    }

    a {
      font-weight: 600;
      display: block;
      margin-top: 20px;
      color: lighten($secondary, 15);
      font-size: 15px;
      font-family: $font-secondary;
      transition: ease-in-out 0.3s;
      &:hover {
        color: $primary;
      }
    }
  }
}

/*--------------------------------------------------------------
# traitements
--------------------------------------------------------------*/
.traitements {
  .traitement__wrapper {
    justify-content: space-between;
    display: flex;
  }

  .traitement__desc {
    background: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    position: relative;
  }
  .traitement__single {
    width: 31%;
    overflow: hidden;
  }

  .traitement__single:nth-of-type(2) video {
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
  }

  .traitement__single img {
    width: 100%;
    height: 315px;
  }

  .traitement__desc--title {
    font-family: $font-primary;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    color: $default;
    padding: 20px 0;
  }

  .traitement__desc--subtitle {
    font-family: $font-primary;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    display: block;
    background: $default;
    width: 100%;
    padding: 2px 0;
  }

  .traitement__desc p {
    font-family: $font-tertary;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: normal;
    text-align: left;
    color: $default;
    padding: 0 50px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

  .traitement__single:hover .traitement__desc {
    background: $secondary;
  }

  .traitement__single:hover .traitement__desc--subtitle {
    background: $secondary;
    color: $secondary;
  }

  .traitement__single:hover .traitement__desc p {
    color: #fff;
  }

  .traitement__single:hover .traitement__desc--title {
    color: #fff;
  }

  .traitement__single:hover .traitement__desc:before {
    background: $secondary;
  }

  .traitement__info {
    min-height: 290px;
  }

  .first__traitement {
    margin-bottom: 23px;
  }

  .traitement__single video {
    max-height: 315px;
    display: block;
  }

  .traitement__single--video {
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: 1440px) and (min-width: 1026px) {
    .traitement__desc p {
      padding: 0 20px;
    }
    .traitement__desc--title {
      padding: 20px;
    }
    .traitement__single img {
      width: 100%;
      background: #f5f5f3;
      height: 315px;
    }

    .traitement__single--video {
      display: flex;
      justify-content: center;
      height: 315px;
      overflow: hidden;
    }
    .traitement__desc--title {
      min-height: 90px;
    }
    .traitement__info {
      min-height: 370px;
    }
    .first__traitement {
      margin-bottom: 0 !important;
    }
  }

  @media screen and (max-width: 1200px) and (min-width: 1025px) {
    .traitement__desc p {
      padding: 0 20px;
    }
    .traitement__desc--title {
      padding: 20px;
    }
    .traitement__single video {
      display: block;
      width: 100%;
      height: 315px;
      object-fit: cover;
    }
    .traitement__desc--title {
      min-height: 90px;
    }
    .traitement__info {
      min-height: 370px;
    }
    .first__traitement {
      margin-bottom: 0 !important;
    }
  }
  @media screen and (max-width: 1024px) and (min-width: 768px) {
    #traitement {
      padding: 30px 0;
    }
    .traitement__wrapper {
      flex-direction: column;
    }
    .traitement__single {
      width: 100%;
      background: #fff;
    }
    .traitement__desc--title {
      padding: 10px 0;
    }
    .traitement__desc p {
      padding: 0 30px;
      font-size: 16px;
    }
    .traitement__info {
      min-height: auto;
    }
    .first__traitement {
      margin-bottom: 0 !important;
    }
    .traitement__single img {
      margin: 0 auto;
      display: block;
      width: auto;
    }
  }

  @media screen and (max-width: 767px) {
    #traitement {
      padding: 0;
    }
    .traitement__wrapper {
      flex-direction: column;
    }
    .traitement__single {
      width: 100%;
      padding: 20px;
    }
    .traitement__single:nth-of-type(2) video {
      transform: none;
    }
    .traitement__desc--title {
      padding: 10px 0;
    }
    .traitement__desc p {
      padding: 0 20px;
      font-size: 16px;
    }
    .traitement__info {
      min-height: auto;
    }
    .first__traitement {
      margin-bottom: 0 !important;
    }
    .traitement__single--video {
      overflow: hidden;
    }
    .traitement__single video {
      width: auto;
      transform: none;
      height: auto;
    }
  }
}

/*--------------------------------------------------------------
# Orthodontie
--------------------------------------------------------------*/
.orthodontie {
  background-color: white;
  /* slider*/
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;

  .container-fluid {
    height: 100vh;
  }

  .row {
    height: 100%;
  }

  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/img/photos/operation-4.jpg');
    height: 100%;
    color: #fff;
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    height: 100%;
  }

  .section-title {
    margin: 30px 0 0 0;
  }

  .main-text {
    font-size: 18px;
  }
  @media (max-width: 1200px) {
    .container-fluid {
      min-height: 100vh;
    }

    .left {
      height: 50%;
    }
    .right {
      height: 50%;
    }
  }
}

/*--------------------------------------------------------------
# Doctors
--------------------------------------------------------------*/
.doctors {
  .dentist {
    justify-content: space-around;
  }

  .card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
  }

  .member {
    justify-content: center;
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    background: $white;
    box-shadow: 0px 2px 15px rgba($primary, 0.1);

    .social {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      transition: ease-in-out 0.3s;
      background: rgba($white, 0.85);
      display: none;

      ul {
        list-style: none;
        position: relative;
        top: 20%;
        letter-spacing: 0.25px;
        font-size: medium;
        display: flex;
        flex-direction: column;
        display: none;
      }

      li {
        transition: color 0.3s;
        color: $default;
        display: none;
      }
    }

    .member-info {
      height: 30px;

      h4 {
        font-weight: 700;
        margin-bottom: 5px;
        font-size: 14px;
        color: $secondary;
      }

      span {
        display: block;
        font-size: 13px;
        font-weight: 600;
        color: lighten($default, 10);
      }

      p {
        font-style: italic;
        font-size: 14px;
        color: lighten($default, 20);
      }
    }

    &:hover {
      .social {
        opacity: 1;
      }
    }
  }
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery {
  background-color: $default;

  padding: 15px 6px;

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .second__row {
    margin-top: 8px;
  }

  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;

    .img-zoom-in {
      max-width: 100%;
      height: 100%;
      overflow: hidden;

      img {
        vertical-align: middle;
        width: 100%;
        transition: transform 2s, filter 1.5s ease-in-out;
        transform-origin: center center;
        filter: brightness(70%);
        &:hover {
          filter: brightness(100%);
          transform: scale(1.3);
        }
      }
    }
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      display: flex;
      flex: 50%;
      max-width: 50%;
      justify-content: center;

      .img-zoom-in {
        max-width: 90%;
        height: 90%;
      }
    }
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .column {
      display: flex;
      flex: 100%;
      justify-content: center;
      max-width: 100%;

      .img-zoom-in {
        max-width: 85%;
        height: 85%;
      }
    }
  }
}

/*--------------------------------------------------------------
# Frequently Asked Questioins
--------------------------------------------------------------*/

/*--------------------------------------------------------------


.faq {
  padding: 60px 0;

  .faq-list {
    padding: 0;
    list-style: none;

    li {
      border-bottom: 1px solid lighten($primary, 40);
      margin-bottom: 20px;
      padding-bottom: 20px;
    }

    .question {
      display: block;
      position: relative;
      font-family: $primary;
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      padding-left: 25px;
      cursor: pointer;
      color: darken($primary, 10);
      transition: 0.3s;
    }

    i {
      font-size: 16px;
      position: absolute;
      left: 0;
      top: -2px;
    }

    p {
      margin-bottom: 0;
      padding: 10px 0 0 25px;
    }

    .icon-show {
      display: none;
    }

    .collapsed {
      color: black;
      &:hover {
        color: $primary;
      }

      .icon-show {
        display: inline-block;
        transition: 0.6s;
      }

      .icon-close {
        display: none;
        transition: 0.6s;
      }
    }
  }
}
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  .info-box {
    color: $default;
    text-align: center;
    box-shadow: 0 0 20px rgba(214, 215, 216, 0.5);
    padding: 20px 0 30px 0;

    i {
      font-size: 32px;
      color: $primary;
      border-radius: 50%;
      padding: 8px;
      border: 2px dotted lighten($primary, 35);
    }

    h3 {
      font-size: 20px;
      color: lighten($default, 20);
      font-weight: 700;
      margin: 10px 0;
    }

    p {
      padding: 0;
      line-height: 24px;
      font-size: 14px;
      margin-bottom: 0;
    }
  }

  .php-email-form {
    box-shadow: 0 0 20px rgba(214, 215, 216, 0.5);
    padding: 30px;

    .error-message {
      display: none;
      color: #fff;
      background: #ed3c0d;
      text-align: left;
      padding: 15px;
      font-weight: 600;
      & br + br {
        margin-top: 25px;
      }
    }

    .sent-message {
      display: none;
      color: #fff;
      background: #18d26e;
      text-align: center;
      padding: 15px;
      font-weight: 600;
    }

    .loading {
      display: none;
      background: #fff;
      text-align: center;
      padding: 15px;

      &:before {
        content: '';
        display: inline-block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin: 0 10px -6px 0;
        border: 3px solid #18d26e;
        border-top-color: #eee;
        animation: animate-loading 1s linear infinite;
      }
    }

    input,
    textarea {
      border-radius: 4px;
      box-shadow: none;
      font-size: 14px;
      &:focus {
        border-color: $primary;
      }
    }

    input {
      padding: 10px 15px;
    }

    textarea {
      padding: 12px 15px;
    }

    button[type='submit'] {
      background: $primary;
      border: 0;
      padding: 10px 30px;
      color: #fff;
      transition: 0.4s;
      border-radius: 4px;
      &:hover {
        background: lighten($primary, 10%);
      }
    }
  }

  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
